
.project-container{

  display: flex;
  flex-direction: column;

justify-content: center;
  padding: 3rem 0;
  background-color: #4831d4;
  font-family: sans-serif;
 

}
.heading-secondary{
  color: #ccf381;

  font-size: 24px;
  font-family: sans-serif;
  font-weight: 900;

  text-align: center;
 

}


.work {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 10rem;
}
 
.card {
  

  display: flex;
  width: 100%;
  height: 350px;
  max-width: 270px;
  margin: 20px;
  align-items: center;
  justify-content: center;
 text-align: center;
  flex-direction: column;
  border: 8px solid #fff;
  border-radius: 10px;
  position: relative;
  overflow: hidden;

 
}

.card-body{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;

  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  transition: all 0.8s;
  opacity: 0;
}
.card-body h1{
  color: #fff;
  font-size: 24px;
  font-family: sans-serif;
  font-weight: 900;
}
.card:hover .card-body{
opacity: 1;
}
.card-btn-container{
  display: flex;
  align-items: center;
  gap: 40px;
}

.card img{
  width: 100%;
  height: 100%;
  background-size: cover;


}

  @media screen and  (min-width: 768px){
  
    .work {
        
        flex-direction: row;
        
        align-items: center;
      
        
    }
    .card{
     
      width: 300px;
    }
    }
  

.work__header-three {
  color: #3d155f;
  line-height: 1.33;
  font-family: sans-serif;
  font-size:22px;
  font-weight: 600;
}
.work__paragraph {
  color: #5d5d5d; /* Lighter shade of grey for better readability */
  margin-top: 2rem;
  font-size: 14px; /* Increased font size */
  font-weight: 500;
  line-height: 1.78;
  letter-spacing: .44px;
}



.work__btn {
  margin-top: 3rem;
  margin-top: auto;
  padding: 10px 20px;
  border-radius: 100rem;
  text-decoration: none;
  text-transform: uppercase;
  display: inline-block;
  color: #4831d4 !important;
  transition: all .2s;
  font-size: 12px;
 height: 24px;
 width: 24px;
  cursor: pointer;
}

.work__btn :hover{
  background-color:#74F0ED;
}