/* Update your existing CSS */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    background-color: #EA445A;
    background-color: #74F0ED;
    background-color: #F5F5F5;
    height: 100%;
    padding: 50px 0px;
    width: 100%;
  }
  
  .about-card-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
  }
  
  .about-content-container {
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  width: 100%;
   max-width: 350px;

    padding: 20px;
   
  }
  .resume-button {
    
    font-family: 'Sans Serif';
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #000; 
    background-color: transparent;/* Set your desired background color */
    color: #000; /* Set the text color */
    background-color: #315399; /* New button background color */
    color: #FFF; /* New button text color */
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Add a smooth transition effect on hover */
  }
  
  .resume-button:hover {
    background-color: #000; 
    background-color: #000;/* Change the background color on hover */
    color: #FFF;
  }
  
  .about-img {
    width: 100%;
    max-width: 350px; /* Adjust the max-width as needed */
    border-radius: 10px;
   
  }
.about-container h3{
  color: #000;
  border-bottom: 2px solid #000;
text-align: center;
  font-size: 24px;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Sans Serif';
 
}

.about-content-container h4{
  font-size: 24px;
  font-family: sans-serif;
 margin-bottom: 10px;

  
  color: #315399;
}
.about-content-container p{
  font-size: 18px;
  font-family: 'Sans Serif';
  color: #000000;
  margin-bottom: 10px;

  font-weight: 500;
  
}
  
  /* Media query for desktop responsiveness */
  @media screen and (min-width: 768px) {
    .about-container{
      padding: 50px 0px;
     
    }
    .about-card-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }
  
    .about-img {
      order: 1; /* Move the image to the right on desktop */
    }
  
    .about-content-container {
  
      max-width: 500px;
      align-items: flex-start;
     
      order: 2;
    }
  }
  
  /* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  .about-card-container {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    order: 2; /* Move the image below the text on mobile */
    margin-top: 20px;
  }
}