/* Update your existing CSS */
.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
  flex-direction: column;
    background-color: #F9F9F9;
    height: 100%;
    padding: 50px 0px;
    width: 100%;
  }
  
  .about-card-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
   
  }
  
  .about-content-container {
    display: flex;
    flex-direction: column;
  justify-content: flex-start;
  text-align: left;
  width: 100%;
   max-width: 350px;

    padding: 20px;
   
  }
  .resume-button {
    
    font-family:sans-serif;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    font-weight: 500;
    text-decoration: none;
    border: 1px solid #4831d4; 
    background-color: transparent;
    color: #4831d4 ;
    
    cursor: pointer;
  
  }
  
  .resume-button:hover {
    background-color: #4831d4;
  
    color: #FFF;
    border: none;
    outline: none;
  
  }
  
  .about-img {
    width: 100%;
    max-width: 350px; /* Adjust the max-width as needed */
    border-radius: 10px;
   
  }
.about-container h3{
  color: #4831d4;
  border-bottom: 2px solid #4831d4;
text-align: center;
  font-size: 24px;
  font-weight: 900;
  text-transform: uppercase;
  font-family: sans-serif;
 
}

.about-content-container h1{
  font-size: 24px;
  font-family: sans-serif;
 margin-bottom: 10px;
font-weight: 600;
  
  color: #4831d4;
}
.about-content-container p{
  font-size: 16px;
  font-family: sans-serif;
  color: #3d155f;
  margin-bottom: 10px;

  font-weight: 400;
  
}
  
  /* Media query for desktop responsiveness */
  @media screen and (min-width: 768px) {
    .about-container{
      padding: 50px 0px;
     
    }
    .about-card-container {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;

    }
  
    .about-img {
      order: 1; /* Move the image to the right on desktop */
    }
  
    .about-content-container {
  
      max-width: 600px;
      align-items: flex-start;
     
      order: 2;
    }
  }
  
  /* Media query for mobile responsiveness */
@media screen and (max-width: 768px) {
  .about-card-container {
    flex-direction: column;
    align-items: center;
  }

  .about-img {
    order: 2; /* Move the image below the text on mobile */
    margin-top: 20px;
  }
}