

.header {
  position: fixed;
  width: 100%;
  z-index: 1000;
  background-color: #fff;
  
}

.header__content {
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 4rem
}

@media only screen and (max-width: 768px) {
  .header__content {
      padding:0 2rem
  }
}

.header__title {
  
  cursor: pointer;
  color: #4831d4;
 font-size: 22px;
 font-weight: 900;
 font-family:sans-serif;
}


.header__links {
  display: flex;
  gap:40px;
list-style:none;
}

@media  screen and (max-width: 768px) {
  .header__links {
      display:none
  }
}

.header__link {
 
text-decoration: none;
  font-size: 18px;
  font-family: sans-serif;
  color: #4831d4;
font-weight: 400;

  
}

.header__link:hover {
  color: #4831d4;
  font-weight: 600;
  padding-bottom: 5px;
  border-bottom: 3px solid #4831d4;

}

@media  screen and (max-width: 768px) {
  .header__link {
      padding:3rem 1.8rem;
      font-size: 1.5rem
  }
}

.header__main-ham-menu-cont {
  display: none;

 padding: 2rem 0;
  transition: all 0.8s;
}

@media  screen and (max-width: 768px) {
  .header__main-ham-menu-cont {
      display:block
  }
}



.header__sm-menu {
  background: #fff;
  position: absolute;
  width: 100%;
  top: 100%;
  visibility: hidden;
  opacity: 0;
  transition: all .3s;
  box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.1)
}

.header__sm-menu--active {
  visibility: hidden;
  opacity: 0
}

@media  screen and (max-width: 768px) {
  .header__sm-menu--active {
      visibility:visible;
      opacity: 1;
      transition: all;
  }
}

.header__sm-menu-link{
  list-style:none;
}

.header__sm-menu-link a {
  display: block;
 
  text-decoration: none;
  padding: 2rem 0;
  font-size: 22px;
  color: #4831d4;
  text-align: left;
  border-bottom: 1px solid #eee;
  font-weight: 700;
  text-transform: uppercase;

}



