/* CSS for Desktop view */
.nav {
  position: fixed;
  top: 0;
  width: 100%;
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 1em;/* or any color you prefer */
 z-index: 1000;
}


.nav-header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 0 10px;
  

  
 

}

.nav h1 {
 
 margin: 0;
  
  

}

.nav-links {
  display: flex;
  gap: 2em;
  margin-right: 4rem;
  cursor: pointer;
}

.nav-menu{
  display: none;
  margin-right: 3em;

  
}
/* CSS for Mobile view */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    align-items: center;
  }

.nav-menu{
  display: block;
  
}

  .nav-header {
    flex-direction: row;
    justify-content: space-between;
  }
 
  .nav-links {
    
    flex-direction: column;
   
    text-align: center;
    height: auto;
    width: 100%;
    gap: 2em;
    transition:all  0.3s ease-out;
    max-height: 0;
    overflow: hidden;
 
    
   
  }

  .nav-links.active {
    max-height: 11em;
    text-align: center;
    

  }
}

