.skills {
   display: flex;
   justify-content: center;
    align-items: center;
    flex-direction: column;

 height:  100%;
 width: 100%;
 padding: 5rem 0;
    background-color: #ccf381;
  
  
  }
  .skills h1{
    color: #4831d4;
    font-size: 26px;
    border-bottom: 2px solid #4831d4;
    padding-bottom: 4px;
    font-weight: 900;
    font-family:sans-serif;
        
  }
  .skills ul {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    align-items: center;
  }
  .skills li {
    list-style: none;
   
    margin: 10px;
    width: 50px;
    height: 50px;
    
    
  
 
  }
  
  .skills img {
 width: 100%;
   margin: 10px;
   
   
   
   
 
  }
  
  .skills img:hover {
   width: 70px;
 
  
  /* Added translation for upward movement */
  }
  
  @media screen and (min-width: 768px) {
    .skills img {
      width: 60px;

      
    }
  }