body {
    font-family: 'Arial', sans-serif;
}

.hero-container {
  height: 100%;
  padding: 10px 0px;
}

.hero-card-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    justify-content:center;
    order: 2;
    width: 100%;
}

.hero-content h1 {
    color: #315399;
    font-size: 42px;
    font-weight: bold;
    line-height: 1.2
}
.hero-content p {
    font-weight: 500;
  color: #222222;
  font-family: "Mulish", sans-serif;
  line-height: 1.6;
}

.hero-content a {
    margin: 10px;
}

.profile-img {
    margin-top: 30px;
    width: 100%;
    max-width: 200px;

    order: 1;
}


.icon:hover{
color:#315399;
}

.wave {
    width: 40px;
}

.about-button:hover {
    color: #ffffff;
    background-color: #222222;
}



@media screen and (min-width: 768px) {
    .hero-card-container{
        flex-direction: row;
        justify-content: space-between;
       
    }
    .hero-content {
     
        order: 1;
        max-width: 400px;
    }
 

    .profile-img {
       
        max-width: 400px;
        order: 2;

    }
}

@media screen and (min-width: 1200px) {
    .hero-content {
      
        max-width: 900px;
    }

    .profile-img {
        max-width: 500px;

    }

}