body {
    font-family: 'Arial', sans-serif;
    
}

.hero-container {

  padding: 100px 0px;
  background-color:#000000 ;
}

.hero-card-container {
    width: 80%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.hero-content {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    flex-direction: column;
   
 
    order: 2;
    width: 100%;
    
}
.hero-content h2{
    color: #3D3D3D;
    font-size: 22px;
    

}
.hero-content h1 {
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right,#4285f4,#9b72cb,#d96570);
    font-size: 32px;
    font-weight: bold;
    color: #fff;

}
    

.hero-content p {
    font-weight: 500;
    color: #fff;
    font-family: Google Sans,Helvetica Neue,sans-serif;
 

  font-size: 14px;
}

.hero-content a {
    margin: 10px;
}

.profile-img {
    margin-top: 30px;
    width: 100%;
width: 160px;
background-color: #fff;
border: 6px solid #74F0ED;
border-radius: 50%;
    order: 1;
}
.hero-icon-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-icon{
    color: #000;
    width: 30px;
    height: 30px;
   
    background-color: #EA445A;
 
    padding: 15px;

border-radius: 50%;
}
.hero-icon:hover{
color: #fff;
}

.wave {
    width: 40px;
}


.about-button:hover {
    color: #ffffff;
    background-color: #222222;
}



@media screen and (min-width: 768px) {
    .hero-card-container{
        flex-direction: row;
        justify-content: space-between;
       
    }
    .hero-content {
        margin-right: 20px;
        order: 1;
        max-width: 500px;
        justify-content: flex-start;
        text-align: left;
    }
    .hero-icon-container{
        justify-content: flex-start;
    }
 

    .profile-img {
       
        width: 350px;
        order: 2;

    }
    .hero-content h2{
        font-size: 28px;
    }
    .hero-content h1{
        font-size: 36px;
    }
    .hero-content p{
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) {
    .hero-content {
        margin-right: 20px;
        max-width: 600px;
    }

    .profile-img {
        width: 500px;

    }
    .hero-content h2{
        font-size: 32px;
    }
    .hero-content h1{
        font-size: 42px;
    }
    .hero-content p{
        font-size: 22px;
    }

}