body{
  margin: 0px;
  padding: 0px;
}
footer {
  background-color: #111;
 
padding: 2rem 0;
    width: 100%;
  }

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    
  }
  .footer-icon-container{
display: flex;
align-items: center;
  }
footer a{
    padding: 0px 20px;
}
.icon {
  padding: 10px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  transition: transform 0.3s ease; 


}

.icon:hover {
  color: #fff;
  transform: scale(1.2);
}

.IconBrandLinkedin {
  color: #000;
  background-color: #0A66C2; /* LinkedIn Blue */
}

.IconBrandGithub {
  color: #000;
  background-color: #4831d4; /* GitHub Black */
}

.IconBrandYoutube {
  color: #000;
  background-color: #FF0000;
}

.IconBrandInstagram {
  color: #000;
  background-color: #C13584;
}

h3{
  color: #fff;
  text-align: center;
  padding: 1rem 0;
}
.designer-name {
  color: #EA445A; /* Change this to your preferred color */
  font-style: italic; /* This will make the text italic */
}