.contact-container {
  display: flex;
  height: 100%;
  padding: 3rem;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  background-color: #ccf381;
}

.contact-container h1 {
  font-size: 2rem;
  color: #2c2c2c; /* darker text for better contrast */
  font-family: sans-serif;
  font-weight: 900;
  text-align: center;
  border-bottom: 1px solid;
}

.contact-form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 500px;
  gap: 30px;
}

.form-input {
  flex: 1;
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #2c2c2c; /* darker border for better contrast */
}

.button {
  padding: 10px 20px;
  align-self: center;
 
  color: #4831d4;
  border: 2px solid #4831d4;
  outline: none;

  cursor: pointer;
  background: linear-gradient(to right, #4831d4 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s ease-out;
}
.button:hover{
  background-position: left bottom;
  color: #fff;
}
.error-message {
  color: red;
  font-weight: bold;
}
